{% extends 'base.html' %}

{% block content %}
    <h1>Index</h1>
    {% if user.is_authenticated %}
        <h2>{{ user.username }} 님, 환영합니다.</h2>
        <a href="{% url 'accounts:logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'accounts:create' %}">Signup</a>
        <a href="{% url 'accounts:login' %}">Login</a>
    {% endif %}
    <hr>
    <a href="{% url 'crud:create' %}">Create</a>
    <hr>
    {% for article in articles %}
        <p>제목 : {{ article.title }}</p>
        <p>작성자 : {{ article.user }}</p>
        <hr>
    {% endfor %}
{% endblock %}