{% extends 'base.html' %}

{% block content %}
    <h1>{{ article.title}}</h1>
    <h3>{{ article.content }}</h3>
    <p>{{ article.created_at }}</p>
    <p>{{ article.updated_at }}</p>
    <a href="{% url 'articles:index' %}">BACK</a>
    <a href="{% url 'articles:delete' article.pk %}">DELETE</a>
    <a href="{% url 'articles:update' article.pk %}">UPDATE</a>
    {% for comment in article.comment_set.all %}
        <p>{{ comment.content }}</p>
    {% endfor %}
    <form action="{% url 'articles:comment_create' article.pk %}" method = 'POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <button>Comment Create</button>
    </form>
{% endblock %}